<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Password Recovery</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <h1>Password Recovery</h1>
    <nav class="nav">
            <div>
                
            </div>
            <div>
                
            </div>
        </nav>
    <% if (message.length) { %>
        <div class="flash"><%= message %></div>
    <% } %>
    
    <div class="container">
            <form action="/passwordrecovery" method="POST">
                <label for="email">Email</label>
                <div>
                    <input required type="email" name="email" class="form-input">
                </div>
                
    
                <button type="submit" class="form-btn">Recover</button>
            </form>
        
            <div class="links-container">
                
                <div>Already have an account? <a href="/signin">Sign-In</a></div>
                <div>Don't have an account? <a href="/signup">Sign-Up</a></div>
                
            </div>
        </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="/main.js"></script>
</body>
</html>