<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/main.css">
</head>

<body>
    <h1>Sign Up</h1>
    <nav class="nav">
        <div>Welcome</div>
        <div>
            <a href="/signin">Sign-In</a>
        </div>
    </nav>
    
    
    <div class="container">
        <div class="feedback">
            <% if (message.length) { %>
            <div class="flash"><%= message %></div>
            <% } %>
        </div>
        <form action="/signup" method="POST">
            <label for="name">Name</label>
            <div>
                <input required type="text" name="name" class="form-input">
            </div>
            <label for="birthdate">Birthdate</label>
            <div>
                <input required type="date" name="birthdate" class="form-input">
            </div>
            <label for="email">Email</label>
            <div>
                <input required type="email" name="email" class="form-input">
            </div>
            <label for="password">Password</label>
            <div>
                <input required type="password" name="password" class="form-input">
            </div>
            <label for="password_confirmation">Password Confirmation</label>
            <div>
                <input required type="password" name="password_confirmation" class="form-input">
            </div>

            <button type="submit" class="form-btn">Sign Up</button>
        </form>
    
    
        <div class="links-container">
                
            <div>Already have an account? <a href="/signin">Sign-In</a></div>
            <div>Forgot your password? <a href="/passwordrecovery">Recover</a></div>
            
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/main.js"></script>
</body>

</html>