#container {
    display: flex;
    justify-content: space-between;
    height: 100vh;
  }
  
  .col-side {
    flex: 0 0 240px;
  }
  
  #col2 { flex: 1; }
  
  #container > div + div {
    border-left: 2px solid rgba(0, 0, 0, 0.12);
  }
  
  #col1 { background-color: lightgreen; }
  #col2 { background-color: tomato; }
  #col3 { background-color: aqua; }
  body  { margin: 0; }