
  body  { 
    margin: 0; 
    width:100vw; 
    height: 100vh;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
  }

  .container-fluid{
    left:0px;
    padding: 0;
  }
  .container{
    padding-left: 0;
  }
  .no-gutters {
    margin-right: 0;
    margin-left: 0;
  }

  .no-gutters .col,
  .no-gutters [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }

  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
  }

  #nav {
   background-color: #0099cc;
    color: white;
    padding: 20px 0px 20px 20px;
}

#nav a {
  text-decoration: none;
  color: white;
  padding-right: 10px;
}
#headertitle{
  padding-left: 0;
}
#menu{
  justify-content: space-between;
  display: flex;
  padding-left: 0;
}

.colheader{
  padding: 2px;
  font-size: 120%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.friendly{
  background-color: #ff9900;
  color: #808080;
  padding: 10px;
}

.social{
 padding-left: 9px;
}

.social i{
  padding: 10px;
  color: white;
  font-size: 160%;
}

#name{
  padding-left: 20px;
}

#leftsidebar{
  background-color: #307cc2;
  min-height: 100vh;
}

#rightsidebar{
  background-color: transparent;
  min-height: 100vh;
}

#categories{
  background-color: transparent;
  padding: 5px;
}

#articlesection{
background-color: white;
}

.articlecategory{
  padding: 10px;
  color: white;
}

.articlecategory li{
  list-style-type: none;
  display: flex;
  padding: 10px 10px 10px 0;
}


.articlecategory i{
  padding: 10px;
  margin-top: -5px;
}

#popular{
  background-color: #307cc2;
  padding: 5px;
}

.poparticle{
  padding: 10px 2px 10px 2px;
  color: white;
}

.poparticle div{
  background-color: transparent;

  text-align: center;
}

.poparticle .icon{
  vertical-align: middle;
  margin-right: 5px;
}

.poparticle:nth-child(4){
  -webkit-box-shadow:0px 1px 1px #de1dde;
 -moz-box-shadow:0px 1px 1px #de1dde;
 box-shadow:0px 1px 1px #de1dde;
 width: 110%;
   margin: 0px -5%;
   height: 60px;
   top: 0;
   background-color: #ff9900;
}

.poparticle i{
  padding: 10px;
}

#recentarticles{
  padding:10px;
}

.articleinfo{
  margin-top: 20px;
  padding: 10px;
  background-color: #ff9900;
}
.more{
  margin:  0;
  padding: 00;
}

.articlefooter{
  margin: 0 0 0 -10px;
  padding: 0;
  width: 120%;
}

.footer{
  margin: -20px 0 0 0;
  width: 100%;
  height: 10vh;
  background-color: #0099cc;
}

.footerelements li{
  list-style-type: none;
  display: flex;
  padding: 10px;
}

.footerelements i{
  padding: 10px;
  margin-top: -5px;
}


.createcommentwrap{
  background-color: #eee;
  padding: 10px;
  color: #000;
}

.createcommentwrap a{
  text-decoration: none;
  color: #000;
}

.addComment{
  padding: 20px 0;
}

.articlecomments p{
  border: 1 solid #eee;
  background-color: rgb(255, 236, 127);
  padding: 20px;
}

.articleexcerpt{
  padding: 10px 5px;
}

.articletitle{
  padding: 10px 5px;
}